.profile {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: auto;
  margin-right: auto;
}
.description,
.stats {
  width: 200px;
  padding: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1), -23px 0 20px -23px rgba(0, 0, 0, 0.8),
    23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.name,
.tag,
.location {
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}
.avatar {
  background-color: rgb(39, 230, 230);
  border: 2px solid #c9c3c3;
  border-radius: 50%;
  margin-bottom: 20px;
  width: 80px;
}
.name {
  font-weight: 700;
}
.stats {
  background-color: rgb(39, 230, 230);
  width: 240px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1), -23px 0 20px -23px rgba(0, 0, 0, 0.8),
    23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.stats li {
  display: inline-flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(243, 170, 243);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1), -23px 0 20px -23px rgba(0, 0, 0, 0.8),
    23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.label {
  font-weight: 700;
  margin-bottom: 10px;
}
